/* GENERAL */
body{
  background-color: black;
}
.btn{
  color: white;
  background-color: rgba(100,100,100,0.5);
}
.menubutton{
  display: none;
}
.socialmediaicon{
  width: 30px;
  height: 30px;
}

.artistcard b{
  color: white;
}
.artistcard{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: rgb(175,175,175);
  padding-bottom: 25px;
  padding-top: 25px;
}

/* BANNER */
.banner{
  max-height: 300px;
}
.caption{
  background-color: rgba(25,25,25,0.75);
  width: 100%;
  position: relative;
  bottom: 50px;
  height: 50px;
  float: left;
}
.captiontext{
  color: white;
  top: 15px;
}
.captionbutton{
  top: 10px;
  left: 15px;
  position: relative;
}

/* MOBILE AND IPAD */
@media screen and (max-width: 767px) {
  .menubutton{
    position: absolute;
    right: 15px;
    top: 15px;
    color: white;
    background-color: rgba(100,100,100,0.5);
    display: block;
  }
  .navbar{
    display: none;
  }
}

/* NAVBAR */
.navbar{
  background-color: rgb(25, 25, 25);
  color: rgb(248, 248, 248);
}
.navbar-default .navbar-nav >.active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover{
  background-color: rgb(75,25,25);
  color: rgb(200,200,200);
}
.navbar-default .navbar-nav>li>a:hover{
  color: white;
}
.navbar-default .navbar-nav > a:hover{
  color: white;
}
.navbar-default{
  border-color: rgb(100,100,100);
}
