<html ng-app="grebisz" ng-controller="demoController as self">
  <head>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/jquery-3.1.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/custom.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>
  <body class="container">
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <nav id="navbar" class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li id="homeli" class="active"><a href="#" ng-click="self.Tab('home')">Home</a></li>
              <li id="newsli"><a href="#" ng-click="self.Tab('news')">News</a></li>
              <li id="artistsli"><a href="#" ng-click="self.Tab('artists')">Artists</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="Content">
        <div id="home" style="display: none">
            
        </div>
        <div id="news" style="display: none">
            
        </div>
        <div id="artists" style="display: none">

        </div>
    </div>
  </body>
</html>
